@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/roboto/web_fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/web_fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/web_fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/web_fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/web_fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/roboto/web_fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/web_fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/web_fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto/web_fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/web_fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
  --brown: #523626;
}

* {
  font-family: "roboto_regular";
  margin:0;
}

h1 {
  color: purple;
  font-family: "roboto_thin";
  text-align:left;
  margin:10px;
}

p {font-family: "roboto_light";}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  padding-left: 8px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  height: 80px;
  font-family: "roboto_thin";
}

img:hover {
  opacity: 80%;
}